@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

::selection {
  background-color: rgb(233, 233, 229);
}

.sidebar-border-right {
  border-right: 1px solid #0c0c0c;
}

.border-bottom {
  border-bottom: 1px solid #0c0c0c;
}

.custom-purple-color {
  color: #ab87ff;
}

.grey-color {
  color: #353232;
}

.blurry-bg {
  background-color: rgba(181, 179, 179, 0.744);
  backdrop-filter: blur(10px);
}

.border-right {
  border-right: 1px solid #101010;
}

.border {
  border: 1px solid #0c0c0c;
}

.border:hover {
  background-color: #565656;
  margin: 1px;
  border: none;
}

.border:hover > .border-bottom {
  border-bottom: 1px solid #101010;
}

.border:hover > .border-right {
  border-bottom: none;
}

.big-proj {
  min-width: 300px;
}

.border-bottom-proj {
  border-bottom: 1px solid #0c0c0c;
}

@media screen and (min-width: 767px) {
  .border-bottom-proj {
    border-bottom: none;
  }
}

@media screen and (max-width: 767px) {
  .border-right {
    border-right: none;
  }
}
.skill-block:hover {
opacity: 0;
animation : Fade 0.2s ease-in-out forwards; 
}
@keyframes Fade {
0%{
  opacity: 0;
}
20% {
  opacity: 0.2;
}
40%{
  opacity: 0.4;
}
50%{
  opacity: 0.5;
}
60%{
  opacity: 0.6;
}
80%{
  opacity: 0.8;
  }
  90%{
    opacity: 0.9;
  }
100%{
  opacity: 1;
}
}
.work-block:hover {
  opacity: 0;
  animation : Fade 0.2s ease-in-out forwards; 
  }
  @keyframes Fade {
  0%{
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40%{
    opacity: 0.4;
  }
  50%{
    opacity: 0.5;
  }
  60%{
    opacity: 0.6;
  }
  80%{
    opacity: 0.8;
    }
    90%{
      opacity: 0.9;
    }
  100%{
    opacity: 1;
  }
  }